<div class="comments">
  {{#each this}}
    <div class="card">
        <h3 class="card-header">{{user.name}}, {{format_date created_at}}</h3>
        <section class="comment card-body">
            <div class="text">{{comment_text}}
            </div>
            </div>
        </section>
    </div>
  {{/each}}
</div>