<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
</head>

<body>
    <div class="container" style="background-color: $pink-900;">
  <div class="row">
    <div class="col-sm">
      Home
    </div>
    <div class="col-sm">
      Dashboard
    </div>
    <div class="col-sm">
      Login
    </div>
    <div class="col-sm">
      Logout
    </div>
  </div>
</div>
</body>

</html>