<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container-fluid p-5" style="background-color: rgb(41, 13, 2); color: rgb(187, 202, 120);" >
        <div class="row">
            <div class="col">
              <a href="/">Home</a>
            </div>
            <div class="col">
              <a href="/dashboard">Dashboard</a>
            </div>
             {{#if logged_in}}
            {{!-- <button class="no-button" id="logout">logout</button> --}}
             <a class="link" href="/" id="logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
        {{/if}}
          </div>
          <h1 class="title">The Tech Blog</h1>
      </div>
    <main class="container container-fluid mt-5">

   {{{body}}}
       </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>