<div class="card">
    <h3 class="card-header">Update Blog</h3>
    <form class="card-body blog-form">
        <label for="blog-title" class="form-label">Title</label>
        <input type="text" id="blog-title" name="blog-title" value={{blog.title}} class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input id="blog-content" name="blog-content" value={{blog.content}} class="form-input" />

        <button type="submit" class="btn">Update</button>
        <button type="submit" class="btn">Delete</button>

    </form>
</div>

<script src="/js/editBlog.js"></script>