<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container-fluid p-5" style="background-color: rgb(41, 13, 2); color: rgb(187, 202, 120);" >
        <div class="row">
            <div class="col">
              Home
            </div>
            <div class="col">
              Dashboard
            </div>
            <div class="col">
              Login
            </div>
            <div class="col">
                Logout
            </div>
          </div>
      </div>
      <div class="card">
        <h3 class="card-header">Create New Post</h3>
        <form class="card-body new-post-form" id="new-post-form">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" id="post-title" name="post-title" class="form-input" />
            <label class="form-label" for="content">Content</label>
            <input id="content" name="content" class="form-input" />
    
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
    
</body>

</html>